
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <a class="navbar-brand d-none d-sm-block">Address Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link homeBtn" href="people">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aboutBtn" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>
